In [1]:
import pandas as pd
import numpy as np
import datatable as dt

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
header = dt.fread('/content/drive/MyDrive/Colab Data/KY EPSB/All Years/df_header.csv').to_pandas().loc[:,['District Code', 'District', 'School', 'School Code', 'Level']]

Changed the approach from importing all files at the start to enhance code readability.

# Standardize School Data

In [4]:
# Rename the columns and replace the year to be the end year
# Use header to select relevant schools and provide consistency across years

def select_schools(df, year):
    df.columns = ['End Year', 'School Code', 'Reported Spending per student',
                  'Student Count', 'Educator Count', 'Years of experience']
    df['End Year'] = year

    new_df = header.merge(df, on=['School Code'], how='inner').dropna(thresh=7).reset_index(drop=True)

    return new_df

Import and format columns for 2012-2017 data.  Column names changed each year so it had to be done individually.

In [5]:
link_2012 = '/content/drive/MyDrive/Colab Data/KY EPSB/2011-2012/LEARNING_ENVIRONMENT_STUDENTS-TEACHERS.csv'
raw_2012 = dt.fread(link_2012).to_pandas().loc[:,['SCH_YEAR', 'SCH_CD', 'SPENDING_PER_STDNT', 'MEMBERSHIP_TOTAL','FULLTIME_TCH_TOTAL', 'AVG_YRS_TCH_EXP']]
envir_2012 = select_schools(raw_2012, 2012)

In [6]:
link_2013 = '/content/drive/MyDrive/Colab Data/KY EPSB/2012-2013/LEARNING_ENVIRONMENT_STUDENTS-TEACHERS.csv'
raw_2013 = dt.fread(link_2013).to_pandas().loc[:,['SCH_YEAR', 'SCH_CD', 'SPENDING_PER_STDNT', 'ENROLLMENT_TOTAL', 'FTE_TCH_TOTAL', 'AVG_YRS_TCH_EXP']]
envir_2013 = select_schools(raw_2013, 2013)

In [7]:
link_2014 = '/content/drive/MyDrive/Colab Data/KY EPSB/2013-2014/LEARNING_ENVIRONMENT_STUDENTS-TEACHERS.csv'
raw_2014 = dt.fread(link_2014).to_pandas().loc[:,['SCH_YEAR', 'SCH_CD', 'SPENDING_PER_STDNT', 'MEMBERSHIP_TOTAL', 'FTE_TCH_TOTAL', 'AVG_YRS_TCH_EXP']]
envir_2014 = select_schools(raw_2014, 2014)

In [8]:
link_2015 = '/content/drive/MyDrive/Colab Data/KY EPSB/2014-2015/LEARNING_ENVIRONMENT_STUDENTS-TEACHERS.csv'
raw_2015 = dt.fread(link_2015).to_pandas().loc[:,['SCH_YEAR', 'SCH_CD', 'SPENDING_PER_STDNT', 'MEMBERSHIP_TOTAL', 'FTE_TCH_TOTAL', 'AVG_YRS_TCH_EXP']]
envir_2015 = select_schools(raw_2015, 2015)

In [9]:
link_2016 = '/content/drive/MyDrive/Colab Data/KY EPSB/2015-2016/LEARNING_ENVIRONMENT_STUDENTS-TEACHERS.csv'
raw_2016 = dt.fread(link_2016).to_pandas().loc[:,['SCH_YEAR', 'SCH_CD', 'SPENDING_PER_STDNT', 'MEMBERSHIP_TOTAL', 'FTE_TCH_TOTAL', 'AVG_YRS_TCH_EXP']]
envir_2016 = select_schools(raw_2016, 2016)

In [10]:
link_2017 = '/content/drive/MyDrive/Colab Data/KY EPSB/2016-2017/LEARNING_ENVIRONMENT_STUDENTS-TEACHERS.csv'
raw_2017 = dt.fread(link_2017).to_pandas().loc[:,['SCH_YEAR', 'SCH_CD', 'SPENDING_PER_STDNT', 'MEMBERSHIP_TOTAL', 'FTE_TCH_TOTAL', 'AVG_YRS_TCH_EXP']]
envir_2017 = select_schools(raw_2017, 2017)

Load and format columns for 2018 - 2019 data. To retrieve the same data, three files had to be imported per year.

In [11]:
def format_raw_data(spending, students, teacher):
  df_spending = dt.fread(spending).to_pandas().loc[:, ['SCH_YEAR', 'DIST_NUMBER', 'SCH_NUMBER', 'TOTAL_PER_STU_ALLFUNDS']]
  df_spending['School Code'] = (df_spending['DIST_NUMBER'] * 1000 + df_spending['SCH_NUMBER'])

  df_students = dt.fread(students).to_pandas().loc[:,['DIST_NUMBER', 'SCH_NUMBER', 'MEMBERSHIP_TOTAL']]
  df_students['School Code'] = (df_students['DIST_NUMBER'] * 1000 + df_students['SCH_NUMBER'])

  spending_and_students = df_spending.merge(df_students, how='left', on='School Code')

  df_teacher = dt.fread(teacher).to_pandas().loc[:,['SCH_CD','Teacher Count','AVGEXPERIENCEYEARS']]

  new_df = spending_and_students.merge(df_teacher, left_on='School Code', right_on='SCH_CD', how='left').loc[:, ['SCH_YEAR', 'School Code', 'TOTAL_PER_STU_ALLFUNDS', 'MEMBERSHIP_TOTAL', 'Teacher Count', 'AVGEXPERIENCEYEARS']]

  return new_df

In [12]:
spending_2018_link = '/content/drive/MyDrive/Colab Data/KY EPSB/2017-2018/SPENDING_PER_STUDENT.csv'
student_2018_link = '/content/drive/MyDrive/Colab Data/KY EPSB/2017-2018/STUDENT_DEMOGRAPHIC_RACE_GENDER.csv'
teacher_2018_link = '/content/drive/MyDrive/Colab Data/KY EPSB/2017-2018/SCHOOL_EXPERIENCE.csv'

all_2018 = format_raw_data(spending_2018_link, student_2018_link, teacher_2018_link)
envir_2018 = select_schools(all_2018, 2018)

In [13]:
spending_2019_link = '/content/drive/MyDrive/Colab Data/KY EPSB/2017-2018/SPENDING_PER_STUDENT.csv'
student_2019_link = '/content/drive/MyDrive/Colab Data/KY EPSB/2017-2018/STUDENT_DEMOGRAPHIC_RACE_GENDER.csv'
teacher_2019_link = '/content/drive/MyDrive/Colab Data/KY EPSB/2017-2018/SCHOOL_EXPERIENCE.csv'

all_2019 = format_raw_data(spending_2019_link, student_2019_link, teacher_2019_link)
envir_2019 = select_schools(all_2019, 2019)

2020 data is eventually excluded because no data exist for 2020 school test scores.

In [14]:
spending_and_students_2020 = dt.fread('/content/drive/MyDrive/Colab Data/KY EPSB/2019-2020/spending_per_student_2020.csv').to_pandas().loc[:,['SCHOOL YEAR', 'SCHOOL CODE', 'Total Spending per Student - All Fund Sources', 'MEMBERSHIP']]
teacher_2020 = dt.fread('/content/drive/MyDrive/Colab Data/KY EPSB/2019-2020/average_years_school_experience_2020.csv').to_pandas().loc[:,['SCHOOL CODE', 'EDUCATOR COUNT', 'AVERAGE YEARS OF EXPERIENCE']]

all_2020 = spending_and_students_2020.merge(teacher_2020, left_on='SCHOOL CODE', right_on='SCHOOL CODE', how='left')
envir_2020 = select_schools(all_2020, 2020)

Two files are needed for the 2021 and 2022 data.

In [15]:
# 2021 data
spending_and_students_2021 = dt.fread('/content/drive/MyDrive/Colab Data/KY EPSB/2020-2021/spending_per_student_2021_by_school.csv').to_pandas().loc[:,['SCHOOL YEAR', 'SCHOOL CODE', 'Total Spending per Student - All Fund Sources', 'MEMBERSHIP']]
teacher_2021 = dt.fread('/content/drive/MyDrive/Colab Data/KY EPSB/2020-2021/average_years_school_experience_2021_by_school.csv').to_pandas().loc[:,['SCHOOL CODE','EDUCATOR COUNT', 'AVERAGE YEARS OF EXPERIENCE']]

all_2021 = spending_and_students_2021.merge(teacher_2021, on='SCHOOL CODE', how='left')
envir_2021 = select_schools(all_2021, 2021)

In [16]:
#2022 data
spending_and_students_2022 = dt.fread('/content/drive/MyDrive/Colab Data/KY EPSB/2021-2022/spending_per_student_2022.csv').to_pandas().loc[:,['SCHOOL YEAR', 'SCHOOL CODE', 'Total Spending per Student - All Fund Sources', 'MEMBERSHIP']]
teacher_2022 = dt.fread('/content/drive/MyDrive/Colab Data/KY EPSB/2021-2022/average_years_school_experience_2022.csv').to_pandas().loc[:,['SCHOOL CODE', 'EDUCATOR COUNT', 'AVERAGE YEARS OF EXPERIENCE']]

all_2022 = spending_and_students_2022.merge(teacher_2022, how='left', on='SCHOOL CODE')
envir_2022 = select_schools(all_2022, 2022)

In [17]:
# Combine years into one df
school_envir = pd.concat([envir_2012, envir_2013, envir_2014, envir_2015, envir_2016,
                       envir_2017, envir_2018, envir_2019, envir_2020, envir_2021, envir_2022],
                       axis=0, ignore_index=True)

In [18]:
school_envir = school_envir.round({'Reported Spending per student':0, 'Student Count':0, 'Educator Count':0, 'Years of experience':0})

/usr/local/lib/python3.10/dist-packages/pandas/core/series.py:2602: RuntimeWarning: invalid value encountered in rint
  result = self._values.round(decimals)

In [19]:
school_envir.to_csv('/content/drive/MyDrive/Colab Data/KY EPSB/All Years/Unpublished/school_envir.csv', index = False)

# District Salary Information

In [20]:
# Import yearly salary information

raw_2010_salary = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 09-10 salary schedule.csv', skipfooter=1, engine='python')
raw_2011_salary = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 10-11 salary schedule.csv', skipfooter=1, engine='python')
raw_2012_salary = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 11-12 salary schedule.csv', skipfooter=1, engine='python')
raw_2013_salary = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 12-13 salary schedule.csv', skipfooter=1, engine='python')
raw_2014_salary = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 13-14 salary schedule.csv', skipfooter=1, engine='python')
raw_2015_salary = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 14-15 salary schedule.csv', skipfooter=1, engine='python')
raw_2016_salary = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 15-16 salary schedule.csv', skipfooter=1, engine='python')
raw_2017_salary = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 16-17 salary schedule.csv', skipfooter=1, engine='python')
raw_2018_salary = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 17-18 salary schedule.csv', skipfooter=1, engine='python')
raw_2019_salary = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 18-19 salary schedule.csv', skipfooter=1, engine='python')
raw_2020_salary = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 19-20 salary schedule.csv', skipfooter=1, engine='python')
raw_2021_salary = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 20-21 salary schedule.csv', skipfooter=9, engine='python')
raw_2022_salary = pd.read_csv('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 21-22 salary schedule.csv', skipfooter=1, engine='python')

In [21]:
# process teacher salaries per year, per district, and format salaries for further analysis

def salary_schedule(schedule, year):
    # Select only rows where the Rank is II
    schedule = schedule[schedule['Rank'] == 'II'].copy()

    # Compute the maximum salary for Rank II
    salary = schedule[['I', 'II', 'III']].max(numeric_only=True ,axis=1)

    # Add the 'Salary' column
    schedule['Salary'] = salary

    # Split the 'District' column into two columns and convert 'DISTRICT NUMBER' to integer
    schedule[['District Code', 'District']] = schedule['District'].str.split(n=1, expand=True)
    schedule['District Code'] = schedule['District Code'].astype(int)

    # Select only the necessary columns
    new_schedule = schedule.loc[:,['Fiscal Year', 'Years', 'District Code', 'District', 'Salary']].copy()

    # Rename the columns
    new_schedule = new_schedule.rename(columns={
        'Fiscal Year': 'End Year',
        'Years': 'Years of experience',
        'Salary': 'Teacher salary based on experience'})

    new_schedule['End Year'] = year

    return new_schedule

In [22]:
# Use to locate the district teacher salary average

def get_district_average(row):
    district_code = row['District Code']
    end_year = row['End Year']
    return avg_salary.loc[district_code, end_year]

In [23]:
years = list(range(2010, 2023))

# Grab all the raw salary data and put them into this list
salary_list = [salary_schedule(globals()[f'raw_{year}_salary'], year) for year in years]

# Concatenate into a single DataFrame
salary_by_experience = pd.concat(salary_list).drop_duplicates(ignore_index=True)

In [24]:
dist_salary_link = '/content/drive/MyDrive/Colab Data/KY EPSB/Per District/Average Classroom Teacher Salaries (1989-2022) ADA.csv'

# Load the district average teacher salaries, and select the desired columns
avg_salary = pd.read_csv(dist_salary_link, skipfooter=16, engine='python').loc[:, ['Dist No', 'District name', '2009-10', '2010-11', '2011-12',
                                                                                    '2012-13', '2013-14', '2014-15', '2015-16', '2016-17',
                                                                                    '2017-18', '2018-19', '2019-20', '2020-21', '2021-22']]

# Rename the columns
new_column_names = ['District Code', 'District'] + list(range(2010, 2023))
avg_salary.columns = new_column_names

for year in range(2010, 2023):
    avg_salary[year] = avg_salary[year].astype('Int64')

# This is the avg teacher salaries per district per year.
avg_salary.set_index('District Code', drop=True, inplace=True)

In [25]:
# Combine district avg salary with salaries by experience per year
# This will be used to create an estimate of money spent per school.

df_salary = salary_by_experience.copy()
df_salary['District teacher salary average'] = df_salary.apply(get_district_average, axis=1)
df_salary.to_csv('/content/drive/MyDrive/Colab Data/KY EPSB/All Years/Unpublished/district_salary.csv', index = False)
df_salary.drop(['District'], axis =1, inplace=True)

# School and District

In [26]:
#Merge the school and district data.
df_preprocessed = pd.merge(school_envir, df_salary, on=['End Year', 'District Code', 'Years of experience'], how='left')

df_preprocessed.drop_duplicates(inplace=True) #drops 7 of 1 school
df_preprocessed.dropna(subset=['End Year', 'Level'], inplace=True) # Drops two unique schools that had no other data.
df_preprocessed.reset_index(drop=True, inplace=True)

#Reorders the columns
reordered_columns = ['End Year', 'District Code', 'District', 'School Code',
                    'School', 'Level', 'Reported Spending per student', 'Student Count',
                    'Educator Count', 'Years of experience', 'Teacher salary based on experience',
                    'District teacher salary average']

df_preprocessed = df_preprocessed[reordered_columns]

In [27]:
# Replace the values that appear incorrect with np.Nan
df_preprocessed.loc[df_preprocessed['Reported Spending per student'] < 2000, 'Reported Spending per student'] = np.NaN
df_preprocessed.loc[df_preprocessed['Educator Count'] < 2, 'Educator Count'] = np.NaN
df_preprocessed.loc[df_preprocessed['Student Count'] < 10, 'Student Count'] = np.NaN

#Replace empty values with np.nan (doesn't remove data)
null_mask = pd.isnull(df_preprocessed ['Reported Spending per student'])
df_preprocessed.loc[null_mask, ['Money Difference per school', 'Money Difference per student']] = np.nan

In [28]:
# Calculated estimated spending
df_preprocessed['Money Difference per school'] = ((df_preprocessed['Teacher salary based on experience'] - df_preprocessed['District teacher salary average']) * df_preprocessed['Educator Count'])
df_preprocessed['Money Difference per student'] = (df_preprocessed['Money Difference per school'] / df_preprocessed['Student Count'])
df_preprocessed['Estimated Spending per student'] = (df_preprocessed['Reported Spending per student'] + df_preprocessed['Money Difference per student'])
df_preprocessed = df_preprocessed.round({'Money Difference per school': 0, 'Money Difference per student': 0, 'Estimated Spending per student': 0})

In [29]:
df_preprocessed.to_csv('/content/drive/MyDrive/Colab Data/KY EPSB/All Years/Unpublished/preprocessed_df.csv', index = False)

In [30]:
df_preprocessed

,End Year,District Code,District,School Code,School,Level,Reported Spending per student,Student Count,Educator Count,Years of experience,Teacher salary based on experience,District teacher salary average,Money Difference per school,Money Difference per student,Estimated Spending per student
0,2012,1,Adair County,1010,Adair County High School,HS,6457.0,698.0,42.0,17.0,47186.0,48053.0,-36414.0,-52.0,6405.0
1,2012,1,Adair County,1013,John Adair Intermediate School,ES,7198.0,356.0,23.0,18.0,47186.0,48053.0,-19941.0,-56.0,7142.0
2,2012,1,Adair County,1014,Adair County Middle School,MS,6719.0,386.0,24.0,14.0,45733.0,48053.0,-55680.0,-144.0,6575.0
3,2012,1,Adair County,1016,Adair County Elementary School,ES,7261.0,597.0,39.0,19.0,47186.0,48053.0,-33813.0,-57.0,7204.0
4,2012,5,Allen County,5010,Allen County Primary Center,ES,7927.0,907.0,63.0,12.0,49759.0,46735.0,190512.0,210.0,8137.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16089,2022,601,Woodford County,601075,Simmons Elementary School,ES,15848.0,372.0,21.0,14.0,55495.0,54266.0,25809.0,69.0,15917.0
16090,2022,601,Woodford County,601084,Woodford County High School,HS,13453.0,1267.0,70.0,11.0,53771.0,54266.0,-34650.0,-27.0,13426.0
16091,2022,601,Woodford County,601085,Woodford County Middle School,MS,12258.0,904.0,54.0,9.0,51077.0,54266.0,-172206.0,-190.0,12068.0
16092,2022,601,Woodford County,601090,Huntertown Elementary School,ES,14956.0,414.0,24.0,12.0,54283.0,54266.0,408.0,1.0,14957.0
16093,2022,601,Woodford County,601120,Northside Elementary School,ES,15041.0,328.0,19.0,16.0,56574.0,54266.0,43852.0,134.0,15175.0