In [1]:
!pip install datatable

Requirement already satisfied: datatable in /usr/local/lib/python3.10/dist-packages (1.1.0)

In [2]:
import pandas as pd
import numpy as np
import datatable as dt

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
header = dt.fread('/content/drive/MyDrive/Colab Data/KY EPSB/All Years/df_header.csv').to_pandas().loc[:,['District Code', 'District', 'School', 'School Code', 'Level']]

In [5]:
def to_int(df, columns):
  for column in columns:
    df[column] = pd.to_numeric(df[column]).round(0).astype('Int64')

Changed the approach from importing all files at the start to enhance code readability.

# Standardize School Data

In [6]:
# Rename the columns and replace the year to be the end year
# Use df_header to select relevant schools and provide consistency across years

def format_school_data(df, year):
    df.columns = ['End Year', 'School Code', 'Reported Spending per student',
                  'Student Count', 'Educator Count', 'Years of experience']
    df['End Year'] = year

    new_df = header.merge(df, on=['School Code'], how='inner').dropna(thresh=7).reset_index(drop=True)

    return new_df

## Individual years

Import and format columns for 2012-2017 data.  Column names changed each year so it had to be done individually.

In [7]:
link_2012 = '/content/drive/MyDrive/Colab Data/KY EPSB/2011-2012/LEARNING_ENVIRONMENT_STUDENTS-TEACHERS.csv'
raw_2012 = dt.fread(link_2012).to_pandas().loc[:,['SCH_YEAR', 'SCH_CD', 'SPENDING_PER_STDNT', 'MEMBERSHIP_TOTAL','FULLTIME_TCH_TOTAL', 'AVG_YRS_TCH_EXP']]
envir_2012 = format_school_data(raw_2012, 2012)

In [8]:
link_2013 = '/content/drive/MyDrive/Colab Data/KY EPSB/2012-2013/LEARNING_ENVIRONMENT_STUDENTS-TEACHERS.csv'
raw_2013 = dt.fread(link_2013).to_pandas().loc[:,['SCH_YEAR', 'SCH_CD', 'SPENDING_PER_STDNT', 'ENROLLMENT_TOTAL', 'FTE_TCH_TOTAL', 'AVG_YRS_TCH_EXP']]
envir_2013 = format_school_data(raw_2013, 2013)

In [9]:
link_2014 = '/content/drive/MyDrive/Colab Data/KY EPSB/2013-2014/LEARNING_ENVIRONMENT_STUDENTS-TEACHERS.csv'
raw_2014 = dt.fread(link_2014).to_pandas().loc[:,['SCH_YEAR', 'SCH_CD', 'SPENDING_PER_STDNT', 'MEMBERSHIP_TOTAL', 'FTE_TCH_TOTAL', 'AVG_YRS_TCH_EXP']]
envir_2014 = format_school_data(raw_2014, 2014)

In [10]:
link_2015 = '/content/drive/MyDrive/Colab Data/KY EPSB/2014-2015/LEARNING_ENVIRONMENT_STUDENTS-TEACHERS.csv'
raw_2015 = dt.fread(link_2015).to_pandas().loc[:,['SCH_YEAR', 'SCH_CD', 'SPENDING_PER_STDNT', 'MEMBERSHIP_TOTAL', 'FTE_TCH_TOTAL', 'AVG_YRS_TCH_EXP']]
envir_2015 = format_school_data(raw_2015, 2015)

In [11]:
link_2016 = '/content/drive/MyDrive/Colab Data/KY EPSB/2015-2016/LEARNING_ENVIRONMENT_STUDENTS-TEACHERS.csv'
raw_2016 = dt.fread(link_2016).to_pandas().loc[:,['SCH_YEAR', 'SCH_CD', 'SPENDING_PER_STDNT', 'MEMBERSHIP_TOTAL', 'FTE_TCH_TOTAL', 'AVG_YRS_TCH_EXP']]
envir_2016 = format_school_data(raw_2016, 2016)

In [12]:
link_2017 = '/content/drive/MyDrive/Colab Data/KY EPSB/2016-2017/LEARNING_ENVIRONMENT_STUDENTS-TEACHERS.csv'
raw_2017 = dt.fread(link_2017).to_pandas().loc[:,['SCH_YEAR', 'SCH_CD', 'SPENDING_PER_STDNT', 'MEMBERSHIP_TOTAL', 'FTE_TCH_TOTAL', 'AVG_YRS_TCH_EXP']]
envir_2017 = format_school_data(raw_2017, 2017)

Load and format columns for 2018 - 2019 data. To retrieve the same data, three files had to be imported per year.

In [13]:
def format_2018_2019_data(spending, students, teacher):
  df_spending = dt.fread(spending).to_pandas().loc[:, ['SCH_YEAR', 'DIST_NUMBER', 'SCH_NUMBER', 'TOTAL_PER_STU_ALLFUNDS']]
  df_spending['School Code'] = (df_spending['DIST_NUMBER'] * 1000 + df_spending['SCH_NUMBER'])

  df_students = dt.fread(students).to_pandas().loc[:,['DIST_NUMBER', 'SCH_NUMBER', 'MEMBERSHIP_TOTAL']]
  df_students['School Code'] = (df_students['DIST_NUMBER'] * 1000 + df_students['SCH_NUMBER'])

  spending_and_students = df_spending.merge(df_students, how='left', on='School Code')

  df_teacher = dt.fread(teacher).to_pandas().loc[:,['SCH_CD','Teacher Count','AVGEXPERIENCEYEARS']]

  new_df = spending_and_students.merge(df_teacher, left_on='School Code', right_on='SCH_CD', how='left').loc[:, ['SCH_YEAR', 'School Code', 'TOTAL_PER_STU_ALLFUNDS', 'MEMBERSHIP_TOTAL', 'Teacher Count', 'AVGEXPERIENCEYEARS']]

  return new_df

In [14]:
spending_2018_link = '/content/drive/MyDrive/Colab Data/KY EPSB/2017-2018/SPENDING_PER_STUDENT.csv'
student_2018_link = '/content/drive/MyDrive/Colab Data/KY EPSB/2017-2018/STUDENT_DEMOGRAPHIC_RACE_GENDER.csv'
teacher_2018_link = '/content/drive/MyDrive/Colab Data/KY EPSB/2017-2018/SCHOOL_EXPERIENCE.csv'

all_2018 = format_2018_2019_data(spending_2018_link, student_2018_link, teacher_2018_link)
envir_2018 = format_school_data(all_2018, 2018)

In [15]:
spending_2019_link = '/content/drive/MyDrive/Colab Data/KY EPSB/2017-2018/SPENDING_PER_STUDENT.csv'
student_2019_link = '/content/drive/MyDrive/Colab Data/KY EPSB/2017-2018/STUDENT_DEMOGRAPHIC_RACE_GENDER.csv'
teacher_2019_link = '/content/drive/MyDrive/Colab Data/KY EPSB/2017-2018/SCHOOL_EXPERIENCE.csv'

all_2019 = format_2018_2019_data(spending_2019_link, student_2019_link, teacher_2019_link)
envir_2019 = format_school_data(all_2019, 2019)

2020 data is eventually excluded because no data exist for 2020 school test scores.

In [16]:
spending_and_students_2020 = dt.fread('/content/drive/MyDrive/Colab Data/KY EPSB/2019-2020/spending_per_student_2020.csv').to_pandas().loc[:,['SCHOOL YEAR', 'SCHOOL CODE', 'Total Spending per Student - All Fund Sources', 'MEMBERSHIP']]
teacher_2020 = dt.fread('/content/drive/MyDrive/Colab Data/KY EPSB/2019-2020/average_years_school_experience_2020.csv').to_pandas().loc[:,['SCHOOL CODE', 'EDUCATOR COUNT', 'AVERAGE YEARS OF EXPERIENCE']]

all_2020 = spending_and_students_2020.merge(teacher_2020, left_on='SCHOOL CODE', right_on='SCHOOL CODE', how='left')
envir_2020 = format_school_data(all_2020, 2020)

Two files are needed for the 2021 and 2022 data.

In [17]:
# 2021 data
spending_and_students_2021 = dt.fread('/content/drive/MyDrive/Colab Data/KY EPSB/2020-2021/spending_per_student_2021_by_school.csv').to_pandas().loc[:,['SCHOOL YEAR', 'SCHOOL CODE', 'Total Spending per Student - All Fund Sources', 'MEMBERSHIP']]
teacher_2021 = dt.fread('/content/drive/MyDrive/Colab Data/KY EPSB/2020-2021/average_years_school_experience_2021_by_school.csv').to_pandas().loc[:,['SCHOOL CODE','EDUCATOR COUNT', 'AVERAGE YEARS OF EXPERIENCE']]

all_2021 = spending_and_students_2021.merge(teacher_2021, on='SCHOOL CODE', how='left')
envir_2021 = format_school_data(all_2021, 2021)

In [18]:
#2022 data
spending_and_students_2022 = dt.fread('/content/drive/MyDrive/Colab Data/KY EPSB/2021-2022/spending_per_student_2022.csv').to_pandas().loc[:,['SCHOOL YEAR', 'SCHOOL CODE', 'Total Spending per Student - All Fund Sources', 'MEMBERSHIP']]
teacher_2022 = dt.fread('/content/drive/MyDrive/Colab Data/KY EPSB/2021-2022/average_years_school_experience_2022.csv').to_pandas().loc[:,['SCHOOL CODE', 'EDUCATOR COUNT', 'AVERAGE YEARS OF EXPERIENCE']]

all_2022 = spending_and_students_2022.merge(teacher_2022, how='left', on='SCHOOL CODE')
envir_2022 = format_school_data(all_2022, 2022)

In [19]:
# Need 2023 spending data
#.loc[:,['SCHOOL YEAR', 'SCHOOL CODE', 'Total Spending per Student - All Fund Sources', 'MEMBERSHIP']]

teacher_2023 = dt.fread('/content/drive/MyDrive/Colab Data/KY EPSB/2022-2023/average_years_school_experience_2023.csv').to_pandas().loc[:,['SCHOOL CODE', 'EDUCATOR COUNT', 'AVERAGE YEARS OF EXPERIENCE']]

## Compile school data

In [20]:
# Combine years into one df
school_envir = pd.concat([envir_2012, envir_2013, envir_2014, envir_2015, envir_2016,
                       envir_2017, envir_2018, envir_2019, envir_2020, envir_2021, envir_2022],
                       axis=0, ignore_index=True)

In [21]:
to_int(school_envir, ['Reported Spending per student', 'Student Count', 'Educator Count', 'Years of experience'])

/usr/local/lib/python3.10/dist-packages/pandas/core/series.py:2602: RuntimeWarning: invalid value encountered in rint
  result = self._values.round(decimals)

In [22]:
school_envir.to_csv('/content/drive/MyDrive/Colab Data/KY EPSB/All Years/Unpublished/school_envir.csv', index = False)

In [23]:
school_envir.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15984 entries, 0 to 15983
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   District Code                  15984 non-null  int32
 1   District                       15984 non-null  object
 2   School                         15984 non-null  object
 3   School Code                    15984 non-null  int32
 4   Level                          15984 non-null  object
 5   End Year                       15984 non-null  int64
 6   Reported Spending per student  14929 non-null  Int64
 7   Student Count                  15938 non-null  Int64
 8   Educator Count                 15744 non-null  Int64
 9   Years of experience            15678 non-null  Int64
dtypes: Int64(4), int32(2), int64(1), object(3)
memory usage: 1.2+ MB

# District Salary Information

In [24]:
# process teacher salaries per year, per district, and format salaries for further analysis

def salary_schedule(schedule, year):
    # Select only rows where the Rank is II
    schedule = schedule[schedule['Rank'] == 'II'].copy()

    # Compute the maximum salary for Rank II
    salary = schedule[['I', 'II', 'III']].max(numeric_only=True ,axis=1)

    # Add the 'Salary' column
    schedule['Salary'] = salary

    # Split the 'District' column into two columns and convert 'DISTRICT NUMBER' to integer
    schedule[['District Code', 'District']] = schedule['District'].str.split(n=1, expand=True)
    schedule['District Code'] = schedule['District Code'].astype(int)

    # Select only the necessary columns
    new_schedule = schedule.loc[:,['Fiscal Year', 'Years', 'District Code', 'District', 'Salary']].copy()

    # Rename the columns
    new_schedule = new_schedule.rename(columns={
        'Fiscal Year': 'End Year',
        'Years': 'Years of experience',
        'Salary': 'Teacher salary based on experience'})

    new_schedule['End Year'] = year

    return new_schedule

In [25]:
# Use to locate the district teacher salary average

def get_district_average(row):
    district_code = row['District Code']
    end_year = row['End Year']
    return avg_salary.loc[district_code, end_year]

## Salary Schedule by experience

In [26]:
# Import yearly salary information

raw_2010_salary = dt.fread('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 09-10 salary schedule.csv').to_pandas()
raw_2011_salary = dt.fread('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 10-11 salary schedule.csv').to_pandas()
raw_2012_salary = dt.fread('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 11-12 salary schedule.csv').to_pandas()
raw_2013_salary = dt.fread('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 12-13 salary schedule.csv').to_pandas()
raw_2014_salary = dt.fread('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 13-14 salary schedule.csv').to_pandas()
raw_2015_salary = dt.fread('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 14-15 salary schedule.csv').to_pandas()
raw_2016_salary = dt.fread('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 15-16 salary schedule.csv').to_pandas()
raw_2017_salary = dt.fread('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 16-17 salary schedule.csv').to_pandas()
raw_2018_salary = dt.fread('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 17-18 salary schedule.csv').to_pandas()
raw_2019_salary = dt.fread('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 18-19 salary schedule.csv').to_pandas()
raw_2020_salary = dt.fread('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 19-20 salary schedule.csv').to_pandas()
raw_2021_salary = dt.fread('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 20-21 salary schedule.csv').to_pandas()
raw_2022_salary = dt.fread('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 21-22 salary schedule.csv').to_pandas()

raw_2024_salary = dt.fread('/content/drive/MyDrive/Colab Data/KY EPSB/Salary schedules/fy 23-24 salary schedule.csv').to_pandas()

In [27]:
years = list(range(2010, 2023))

# Grab all the raw salary data and put them into this list
salary_list = [salary_schedule(globals()[f'raw_{year}_salary'], year) for year in years]

# Concatenate into a single DataFrame
salary_by_experience = pd.concat(salary_list).drop_duplicates(ignore_index=True)

In [28]:
# Convert to Int64
to_int(salary_by_experience, ['Years of experience', 'Teacher salary based on experience'])

In [29]:
salary_by_experience.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91143 entries, 0 to 91142
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   End Year                            91143 non-null  int64
 1   Years of experience                 91143 non-null  Int64
 2   District Code                       91143 non-null  int64
 3   District                            91143 non-null  object
 4   Teacher salary based on experience  84132 non-null  Int64
dtypes: Int64(2), int64(2), object(1)
memory usage: 3.7+ MB

## Teacher salary average per district

In [30]:
dist_salary_link = '/content/drive/MyDrive/Colab Data/KY EPSB/Per District/Average Classroom Teacher Salaries (1989-2024) ADA.csv'

avg_salary = dt.fread(dist_salary_link).to_pandas().loc[:, ['Dist No', '2009-10', '2010-11', '2011-12',
                                               '2012-13', '2013-14', '2014-15', '2015-16', '2016-17',
                                               '2017-18', '2018-19', '2019-20', '2020-21', '2021-22',
                                               '2022-23', '2023-24']]

# Rename the columns
new_column_names = ['District Code'] + list(range(2010, 2025))
avg_salary.columns = new_column_names

avg_salary.dropna(inplace=True)

# Round to whole number then convert to Int64
to_int(avg_salary, list(range(2010, 2025)))

# Set district code to index
avg_salary.set_index('District Code', drop=True, inplace=True)

DatatableWarning: Duplicate column names found, and were assigned unique names: '% CHG' -> '% CHG.0', '% CHG' -> '% CHG.1', ..., '% CHG' -> '% CHG.32'

In [31]:
# Combine district avg salary with salaries by experience per year
# This will be used to create an estimate of money spent per school.

df_salary = salary_by_experience.copy()
df_salary['District teacher salary average'] = df_salary.apply(get_district_average, axis=1)
df_salary.drop(['District'], axis =1, inplace=True)

In [32]:
# Convert to Int64
to_int(df_salary, ['District teacher salary average'])

In [33]:
df_salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91143 entries, 0 to 91142
Data columns (total 5 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   End Year                            91143 non-null  int64
 1   Years of experience                 91143 non-null  Int64
 2   District Code                       91143 non-null  int64
 3   Teacher salary based on experience  84132 non-null  Int64
 4   District teacher salary average     91143 non-null  Int64
dtypes: Int64(3), int64(2)
memory usage: 3.7 MB

# School and District

In [34]:
#Merge the school and district data.
df_preprocessed = pd.merge(school_envir, df_salary, on=['End Year', 'District Code', 'Years of experience'], how='left')

# Create codes for level and end year
df_preprocessed['Level Code'] = df_preprocessed['Level'].replace(['ES', 'MS', 'HS'], [0, 1, 2])
df_preprocessed['End Year Code'] = df_preprocessed['End Year'] - 2012

#Reorders the columns
reordered_columns = ['End Year', 'End Year Code', 'District Code', 'District', 'School Code',
                    'School', 'Level', 'Level Code', 'Reported Spending per student', 'Student Count',
                    'Educator Count', 'Years of experience', 'Teacher salary based on experience',
                    'District teacher salary average']
df_preprocessed = df_preprocessed[reordered_columns]

# In case duplicates occur.  Right now these don't actually drop any rows.
df_preprocessed.drop_duplicates(inplace=True)
df_preprocessed.dropna(subset=['End Year', 'Level'], inplace=True)
df_preprocessed.reset_index(drop=True, inplace=True)

In [35]:
# Replace the values that appear incorrect with np.Nan
df_preprocessed.loc[df_preprocessed['Reported Spending per student'] < 2000, 'Reported Spending per student'] = np.NaN
df_preprocessed.loc[df_preprocessed['Educator Count'] < 2, 'Educator Count'] = np.NaN
df_preprocessed.loc[df_preprocessed['Student Count'] < 10, 'Student Count'] = np.NaN

#Replace empty values with np.nan (doesn't remove data)
null_mask = pd.isnull(df_preprocessed ['Reported Spending per student'])
df_preprocessed.loc[null_mask, ['Money Difference per school', 'Money Difference per student']] = np.nan

In [36]:
# Calculated estimated spending
df_preprocessed['Money Difference per school'] = ((df_preprocessed['Teacher salary based on experience'] - df_preprocessed['District teacher salary average']) * df_preprocessed['Educator Count'])
df_preprocessed['Money Difference per student'] = (df_preprocessed['Money Difference per school'] / df_preprocessed['Student Count'])
df_preprocessed['Estimated Spending per student'] = (df_preprocessed['Reported Spending per student'] + df_preprocessed['Money Difference per student'])

# Convert to Int64
to_int(df_preprocessed, ['Level Code', 'Money Difference per school', 'Money Difference per student', 'Estimated Spending per student'])

In [37]:
df_preprocessed.to_csv('/content/drive/MyDrive/Colab Data/KY EPSB/All Years/Unpublished/preprocessed_df.csv', index = False)

In [38]:
df_preprocessed

,End Year,End Year Code,District Code,District,School Code,School,Level,Level Code,Reported Spending per student,Student Count,Educator Count,Years of experience,Teacher salary based on experience,District teacher salary average,Money Difference per school,Money Difference per student,Estimated Spending per student
0,2012,0,1,Adair County,1010,Adair County High School,HS,2,6457,698,42,17,47186,48053,-36414,-52,6405
1,2012,0,1,Adair County,1013,John Adair Intermediate School,ES,0,7198,356,23,18,47186,48053,-19941,-56,7142
2,2012,0,1,Adair County,1014,Adair County Middle School,MS,1,6719,386,24,14,45733,48053,-55680,-144,6575
3,2012,0,1,Adair County,1016,Adair County Elementary School,ES,0,7261,597,39,19,47186,48053,-33813,-57,7204
4,2012,0,5,Allen County,5010,Allen County Primary Center,ES,0,7927,907,63,12,49759,46735,190512,210,8137
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15979,2022,10,601,Woodford County,601075,Simmons Elementary School,ES,0,15848,372,21,14,55495,54266,25809,69,15917
15980,2022,10,601,Woodford County,601084,Woodford County High School,HS,2,13453,1267,70,11,53771,54266,-34650,-27,13426
15981,2022,10,601,Woodford County,601085,Woodford County Middle School,MS,1,12258,904,54,9,51077,54266,-172206,-190,12068
15982,2022,10,601,Woodford County,601090,Huntertown Elementary School,ES,0,14956,414,24,12,54283,54266,408,1,14957
15983,2022,10,601,Woodford County,601120,Northside Elementary School,ES,0,15041,328,19,16,56574,54266,43852,134,15175

In [39]:
df_preprocessed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15984 entries, 0 to 15983
Data columns (total 17 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   End Year                            15984 non-null  int64
 1   End Year Code                       15984 non-null  int64
 2   District Code                       15984 non-null  int32
 3   District                            15984 non-null  object
 4   School Code                         15984 non-null  int32
 5   School                              15984 non-null  object
 6   Level                               15984 non-null  object
 7   Level Code                          15979 non-null  Int64
 8   Reported Spending per student       14873 non-null  Int64
 9   Student Count                       15734 non-null  Int64
 10  Educator Count                      15501 non-null  Int64
 11  Years of experience                 15678 non-null  Int64
 12  Teacher salary based on experience  14150 non-null  Int64
 13  District teacher salary average     15627 non-null  Int64
 14  Money Difference per school         13946 non-null  Int64
 15  Money Difference per student        13881 non-null  Int64
 16  Estimated Spending per student      13378 non-null  Int64
dtypes: Int64(10), int32(2), int64(2), object(3)
memory usage: 2.1+ MB

In [40]:
df_preprocessed.nunique()

End Year                                 11
End Year Code                            11
District Code                           174
District                                174
School Code                            1485
School                                 1455
Level                                     4
Level Code                                3
Reported Spending per student          8085
Student Count                          1514
Educator Count                          136
Years of experience                      38
Teacher salary based on experience     3928
District teacher salary average        1746
Money Difference per school           11214
Money Difference per student           1443
Estimated Spending per student         8009
dtype: int64